<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}PMS - 247Express{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'javascript.html.twig' %}
        {% include 'stylesheet.html.twig' %}
        {% block head %} {% endblock %}
        <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			//ga('create', 'UA-87283306-1', 'auto', {'name': 'Backend'});  //Backend
			
			//ga('create', 'UA-87283306-1', 'auto', {
			//	userId: localStorage.getItem('PMS_UserGroupID')
			//});
			
			ga('create', 'UA-87283306-1', {
			  'storage': 'none',
			  'clientId': localStorage.getItem('PMS_UserGroupID'),
			  'cookieDomain': 'pro.pms.247post.vn',
			});

			ga('send', 'pageview');

			//ga('Backend.send', 'pageview'); // Send page view for Backend
		</script>
    </head>
    <!-- layout-top-nav/fixed sidebar-mini/sidebar-collapse -->
    <body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
        <div class="wrapper">
	        {% include 'header.html.twig' %}
	        {% include 'loader.html.twig' %}
	        {% include 'menu.html.twig' %}
	        {% block body %}
	        {% endblock %}
	        {% include 'footer.html.twig' %}
        </div>
    </body>
</html>
