<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.0
    </div>
    <strong>Copyright &copy; 2016 <a href="">247Post</a>.</strong> All rights reserved.
</footer>