    <header class="main-header">
    
    <script type="text/javascript">
    
    	// set notify
    	var OneSignal = window.OneSignal || [];
	    OneSignal.push(["init", {
	    	appId: localStorage.getItem('PMS_WebNotiAppID'),
	      	autoRegister: false,
	      	subdomainName: localStorage.getItem('PMS_WebNotiDomain'),   
	      	notifyButton: {
	          	enable: true
	      	}
	    }]);
		OneSignal.push(["sendTag", "AccountID", localStorage.getItem('PMS_UserGroupID')]);
		OneSignal.push(["sendTag", "PostOfficeID", localStorage.getItem('PMS_PostOfficeID')]);
					
		$(function () {
			var sm_avarta = document.getElementById("imgUser");
		 	var bg_avarta = document.getElementById("avart-image-big");
			if(localStorage.getItem('pms_avarta') !== "") {
				sm_avarta.src = localStorage.getItem('PMS_Avatar');
		 		bg_avarta.src = localStorage.getItem('PMS_Avatar');
			} 
		});
	</script>

        <!-- Logo -->
        <a href="{{path('home_index')}}" class="logo logo1">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>247</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            {#<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="logo-lg"></span></a>#}
     
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning" id="count_message">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header" >Bạn có <span id="show_message" style="color:#f00000">0</span> thông báo chưa đọc</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 200px;">
                                    <ul class="menu" style="overflow: auto; width: 100%; height: 200px;" id="show_li">

                                    </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div>
                                    <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                            </li>
                            <li class="footer"><a href="{{path('message_index')}}">View all</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="user-image" id="imgUser" name="imgUser" src=""/>
                            <span class="hidden-xs">
                            <script type="text/javascript">
					    		document.write(localStorage.getItem('PMS_UserGroupID'));
					    	</script>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img id="avart-image-big" class="img-rectangle" src=""/>
                                <p>
                                    <script type="text/javascript">
							    		document.write(localStorage.getItem('PMS_UserGroupName'));
							    	</script>
                                </p>
                                <p>
	                  				<small>Vị trí:
					                  	<script type="text/javascript">
					                        document.write(localStorage.getItem('PMS_GroupID'));
					                    </script>
	                    			</small>
	                			</p>
	                			<p>
	                  				<small>Thành viên từ: 
	                  					<script type="text/javascript">
					                        document.write(localStorage.getItem('PMS_CreationDate'));
					                    </script>
	                  				</small>
	                 			</p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{path('user_profile')}}" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                	<a href="javascript:void(0);" onclick='globalFunction.logout("{{path('sigout')}}")' class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>