<!-- jQuery 2.2.3 -->
<script src="{{ asset('bundles/plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script src="{{ asset('bundles/plugins/jQuery/jquery.validate.js')}}"></script>
<script src="{{ asset('bundles/plugins/jQuery/jquery.metadata.js')}}"></script>

<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- bootbox -->
<script src="{{ asset('bundles/plugins/bootbox/bootbox.min.js')}}"></script>

<!-- Select2 -->
<script src="{{ asset('bundles/plugins/select2/select2.min.js')}}"></script>

<!-- moment -->
<script src="{{ asset('bundles/plugins/moment/moment.min.js')}}"></script>

<!-- slimScroll -->
<script src="{{ asset('bundles/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>

<!-- datepicker -->
<script src="{{ asset('bundles/plugins/datepicker/bootstrap-datepicker.min.js')}}"></script>
<!-- timepicker -->
<script src="{{ asset('bundles/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>

<!-- daterangepicker -->
<script src="{{ asset('bundles/plugins/daterangepicker/daterangepicker.min.js')}}"></script>

<!-- bootstrap-datetimepicker -->
<script src="{{ asset('bundles/plugins/bootstrap-datetimepicker/locales/vi.js')}}"></script>
<script src="{{ asset('bundles/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')}}"></script>

<!-- underscore -->
<script src="{{ asset('bundles/plugins/underscore/underscore-min.js')}}"></script>

<!-- datatables -->
<script src="{{ asset('bundles/plugins/datatables/jquery.dataTables.min.js')}}"></script>

<!-- mCustomScrollbar -->
<script src="{{ asset('bundles/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.js')}}"></script>

<!-- AdminLTE App -->
<script src="{{ asset('bundles/app/js/app.min.js')}}"></script>

<script src="{{ asset('bundles/app/js/global-function.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/pms247.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/widget.js')}}"></script>
<script src="{{ asset('bundles/app/js/fixd-header.min.js')}}"></script>

<!-- numeral -->
<script src="{{ asset('bundles/plugins/numeral/numeral.min.js')}}"></script>

<!-- multiselect -->
<script src="{{ asset('bundles/plugins/multiselect/multiselect.min.js')}}"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
