<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<script>
				var objMenu = JSON.parse(localStorage.getItem('PMS_Menu'));
				for(i = 0 ; i < objMenu.length; i++) {
		    		document.write('<li class="treeview">');
		    		document.write('<a href="">');
		    		document.write('<i style="color:#ff0000;" class="' + objMenu[i]['Icon'] + '"></i>');
					document.write('<span>' + objMenu[i]['DisplayName'] + '</span>');
					/*document.write('<i class="fa fa-angle-left pull-right"></i>');*/
					document.write('</a>');


		    		items = objMenu[i]['Items'];
		    		if (items instanceof Array) {
		    			document.write('<ul class="treeview-menu">');
		    			for (j = 0; j < items.length; j++) {
		    				if(items[j]['Routing'] != "") {
		    					var link = '<li><a href="' 
		    							+ items[j]['Routing'] 
		    							+ '">' 
		    							+ '<i style="color:#fff;" class="fa fa-circle"></i>' 
		    							+ items[j]['DisplayName'] 
		    							+ '</a></li>';
			    				document.write(link);
		    				}
		    				
		    			}
		    			document.write('</ul>');
		    		}
					document.write('</li>');
		    	}

				$(".treeview-menu").mCustomScrollbar({
					setHeight: '90%',
					theme:'light-thin',
					scrollbarPosition:"inside"
				});
			</script>
		</ul>
	</section>
</aside>

