<!-- Bootstrap 3.3.6 -->
<link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>

<!-- Font Awesome -->
<link href="{{ asset('bundles/app/css/font-awesome.min.css')}}" rel="stylesheet" />

<!-- Select2 -->
<link href="{{ asset('bundles/plugins/select2/select2.min.css')}}" rel="stylesheet" />
<link href="{{ asset('bundles/plugins/select2/select2-bootstrap.min.css')}}" rel="stylesheet" />

<!-- Theme style -->
<link href="{{ asset('bundles/app/css/AdminLTE.min.css')}}" rel="stylesheet" />

<!-- AdminLTE Skins -->
<link href="{{ asset('bundles/app/css/skins/_all-skins.min.css')}}" rel="stylesheet" />

<!-- datepicker -->
<link href="{{ asset('bundles/plugins/datepicker/datepicker3.min.css')}}" rel="stylesheet" />
<!-- timepicker -->
<link href="{{ asset('bundles/plugins/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet" />

<!-- daterangepicker -->
<link href="{{ asset('bundles/plugins/daterangepicker/daterangepicker.min.css')}}" rel="stylesheet" />

<!-- bootstrap-datetimepicker -->
<link href="{{ asset('bundles/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" />

<!-- datatables -->
<link href="{{ asset('bundles/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" />

<!-- mCustomScrollbar -->
<link href="{{ asset('bundles/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css')}}" rel="stylesheet" />

<!-- app -->
<link href="{{ asset('bundles/app/css/app.min.css')}}" rel="stylesheet" />
