{% extends 'base.html.twig' %}
{% block title%} PMS - Thông báo {% endblock%}
{% block body %}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="panel panel-info" style="margin-top:100px;margin-left:300px; margin-right:300px;">
                <div class="panel-heading">
                    <div class="panel-title">Thông báo</div>
                </div>     
                <div class="panel-body" >
                	<div class="box box-primary">
	        			<div style="margin-top:10px;" class="alert col-sm-10">{{errmsg}}</div>
	        		</div>
                    <div style="margin-top:10px" class="form-group">
                    	<div class="col-sm-12 control">
                        	<div class="buttons" style="float: right">
                            	<a class="btn btn-primary" href="{{backurl}}" role="button">{{btnName}}</a>
                            </div>
						</div>	
					</div>
				</div>      
			</div>
		</div>
    </section>
</div>
{% endblock %}
