<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Starter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% stylesheets 
        'bundles/admin/css/*.css' 
        'bundles/admin/css/skins/skin-blue.css' 
        filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<!--[if IE 8 ]>
<body class="en_SG ie ie8"><![endif]-->
<!--[if IE 9 ]>
<body class="en_SG ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="hold-transition skin-blue sidebar-mini login-page"><!--<![endif]-->

    {% block content %}

    {% endblock %}

    {% javascripts 
        'bundles/admin/js/jquery.min.js'
        'bundles/admin/js/*.js' 
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</html>