{% extends 'admin/layout.html.twig' %}
{% block content %}
<div class="login-box">

  {% if error is defined and error %}
    <div>{{ error.message }}</div>
  {% endif %}
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="{{ path('login') }}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Email" value="{% if last_username is defined %}{{last_username}}{% endif %}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}