
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="{{asset('bundles/admin/images/user2-160x160.jpg')}}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alexander Pierce</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header">HEADER</li>
          <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Sổ tay</span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Tạo mới sổ tay</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Sổ tay</span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Bảo vệ</a></li>
              <li><a href="#">Buồn phòng</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="{{path('admin_list_user')}}"><i class="fa fa-link"></i> <span>Người Dùng</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="{{path('admin_list_user')}}">Danh sách</a></li>
              <li><a href="{{path('admin_register')}}">Tạo mới</a></li>
              <li><a href="#">Quản Lý câu hỏi</a></li>
            </ul>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
