{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<div class="content-wrapper">   
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 500</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href=''>return to dashboard</a>
            </p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->
</section>
</div>
{% endblock %}